body {
    text-align: center;
    background-color: rgb(11, 6, 37);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1.45rem;
    padding: 0 1.1rem;
}

h1 {
    max-height: -20px;
    font-weight: bold;
    color: rgb(91, 206, 206);
}

p {
    margin-bottom: 1.5rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}   

hr {
    max-width: 600px;
}

.Blocos {
    background-color: rgba(0, 0, 0, 0.301);
    max-width: 800px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto; 
    padding: 8px 1.5rem;
    border-radius: 8px;
}

.lado {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.lado img,
.lado video {
    flex: 1 1 300px; /* cresce/encolhe, mas não fica menor que 300px */
    max-width: 45%;
    min-width: 0;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}